#root {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#episodes-view {
  /* display: none; */
}

.filter-box {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.card-temp {
  border-radius: 1rem;
  box-shadow: 0 5px 20px 10px rgba(0, 0, 0, 0.2);
  margin: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#card-header {
  font-size: xx-large;
  font-family: monospace;
  margin-bottom: 1rem;
  background-color: #cdfeaa;
}

#show-episode {
  font-size: large;
}

#card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
  background: #8bc164;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #f4f4f4;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #cdfeaa;
  font-style: oblique;
  font-size: large;
}

#q {
  padding: 15px;
  border-radius: 10px;
  margin: 20px 10px;
}

#episodeDropdown {
  padding: 15px;
  border-radius: 10px;
  margin: 20px 10px;
}
