#root,
#shows-root {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#episodes-view {
  display: none;
}

/* Show View */

.show-filter-box {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 3rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 5px 20px 10px rgba(0, 0, 0, 0.2);
}

.show-temp {
  border-radius: 1rem;
  box-shadow: 0 5px 20px 10px rgba(0, 0, 0, 0.2);
  margin: 2rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#show-title {
  font-size: 2rem;
  font-family: monospace;
  margin-bottom: 1rem;
  background-color: #cdfeaa;
  transition: all 0.3s ease-out;
}

#show-title:hover {
  background-color: #ea4c89;
  cursor: pointer;
  font-size: 3rem;
}

.section-1{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-2 {
  border-radius: 1rem;
  box-shadow: 0 5px 20px 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

button {
  background-color: #ea4c89;
  border-radius: 0.5rem;
  border: none;
  color: white;
  padding: 7px 14px;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
}

#showView-search {
  border-radius: 1rem;
  padding: 10px;
  border-style: solid;
}

#showView-filter-info {
  color: #ea4c89;
  font-weight: bold;
}

/* Episode View */

.filter-box {
  margin: 1rem;
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 5px 20px 10px rgba(0, 0, 0, 0.2);
}

.card-temp {
  border-radius: 1rem;
  box-shadow: 0 5px 20px 10px rgba(0, 0, 0, 0.2);
  margin: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#card-header {
  font-size: xx-large;
  font-family: monospace;
  margin-bottom: 1rem;
  background-color: #cdfeaa;
}

#show-episode {
  font-size: large;
}

#card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
  background: #ea4c89;
  transition: all 0.3s ease-out;
  font-size: 2rem;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 3rem;
  color: #292527;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  font-style: oblique;
  font-size: large;
  margin: 0;
}

#q {
  padding: 15px;
  border-radius: 10px;
  margin: 20px 10px;
}

#episodeDropdown {
  padding: 15px;
  border-radius: 10px;
  margin: 20px 10px;
}

#search,
#show-selector,
#episode-selector,
#showView-selector {
  border-radius: 1rem;
  padding: 10px;
  border-style: solid;
}
